.form_container {
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px;

  border-radius: 10px;
  background-color: #d8c9c4;

  font-size: 22px;
  font-weight: bold;
}

.input_container {
  width: 50%;

  display: flex;
  justify-content: space-around;
  align-items: center;

}

input {
  height: 25px;
  width: 35%;

  padding: 10px;

  border: none;
  border-radius: 10px;
}

.form_container > button {
  border: none;
  border-radius: 10px;
  background-color: #340f1a;

  padding: 10px;

  font-size: 18px;
  font-weight: bold;
  color: white;
}

.form_container > button:hover {
  cursor: pointer;

  width: calc(15%);
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  font-size: 22px;
  font-weight: bold;
}

.layout {
  max-width: 1200px;
  min-width: 800px;
  
  margin: 0 auto;
}

.list_container {
  padding: 20px;
}

.list_wrapper {
  display: flex;
  
  flex-wrap: wrap;

  gap: 10px;
}

.todo_container {
  border: 3px solid #33100e;
  border-radius: 10px;

  width: 300px;
  height: 150px;

  padding: 10px;

  text-align: center;
}

.todo_container > p {
  color:#c4c7c7;
}

.todo_container > button {
  border-radius: 10px;
  border: none;

  padding: 5px;
  width: 100px;
  height: 45px;

  font-weight: bold;
}

.del_btn {
  background-color: #400a26;
  color: white;
  margin-right: 10px;
}

.del_btn:hover {
  cursor: pointer;
  font-size: calc(100%);
}

.compl_btn:hover {
  cursor: pointer;
  font-size: calc(100%);
  background-color:black;
  color: white;
}